{% extends "base.html" %}
{% block content %}
    <div class="row justify-content-center">

        <div class = "col-md-6">
               <form action="{% url 'parse_shows' %}" method='post'>
                   {% csrf_token %}
                   <label for="text">Enter the name of the show you want to follow :</label><br>
                   <input type="text" id="text" name="search_str"><br>
                   <input type="submit" value='Search'>
               </form>
        </div>
        <h1>Hello</h1>
        <div class = "col-md-6">
        {% for show in shows %}
            <img src="{{ show.img_url }}" />
            <p> {{ show.name_ru }} </p>

              <form action="{% url 'add_to_list' %}" method='post'>
                {% csrf_token %}
                <input type="hidden" name="url" value="{{ show.show_url }}">
                <input type="hidden" name="name_ru" value="{{ show.name_ru }}">
                <input type="submit" value='Add to my list'>
                <br>
              </form>

        {% endfor %}
        </div>
    </div>
{% endblock %}